<table id="accounts-table">
        <thead>
                <tr>
                        <th>
                                Company Name
                        </th>
                        <th>
                                Account Number
                        </th>
                        <th>
                                Notes
                        </th>
                </tr>
        </thead>
        <tbody>
                <tr>
                        <td>
                                account.company
                        </td>
                        <td>
                                account.number
                        </td>
                        <td>
                                account.notes
                        </td>
                </tr>
        </tbody>
</table>
