<table id="bills-table">
        <thead>
                <tr>
                        <th>
                                Due Date
                        </th>
                        <th>
                                Total Due
                        </th>
                        <th>
                                Account
                        </th>
                </tr>
        </thead>
        <tbody>
                <tr>
                        <td>
                                bill.dueDate
                        </td>
                        <td>
                                bill.total
                        </td>
                        <td>
                                account.company (account.number)
                        </td>
                </tr>
        </tbody>
</table>
