<div id="bill-form">
        <div>
                <input name="due_date" id="due-date" type="text" placeholder="Due Date" />
        </div>
        <div>
                <input name="total_due" id="total-due" type="text" placeholder="Total Due" />
        </div>
        <div>
                <select name="account_id" id="account-id">
                        <option value="">
                                Company Name (Account Number)
                        </option>
                </select>
        </div>
        <div>
                <button id="submit-bill">Submit</button>
        </div>
</div>
